body{
  font-family: 'Lato', sans-serif;
}

.container{
  max-width: 1140px;
  padding-top: 8px;
  padding-bottom: 8px;
}

nav{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.navbar-default{
  background-color: #2C3E50;
  border: none;
}

.navbar-brand{
  font-size: 20px;
}


.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
  color: #fff;
}

.navbar-toggle{
  font-size: 12.8px;
  padding: 1em 1.2em;
  background-color: #1ABC9C;
  color:  #fff;
  text-decoration: none;
  border-radius: 7px;
  border: none;
}


.navbar-default .navbar-nav>li>a:focus{
  color: #1ABC9C;
}

@media all and (min-width: 768px) {
  .container{
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .navbar{
    border-radius: 0;
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus{
    color: #fff;
  }

  .navbar-default .navbar-nav>li>a:focus{
    padding: 1em;
    background-color: #1ABC9C;
    color:  #fff;
    text-decoration: none;
    border-radius: 7px;
  }

}

@media all and  (min-width: 1200px){
  .navbar-brand{
    font-size: 2em;
  }


  nav .container{
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .navbar-default .navbar-brand:hover{
    color: #fff;
  }

  nav ul.navbar-nav {
    margin-right: 0;
  }

  nav ul.navbar-nav li a{
    display: inline-block;
    font-size: 1.2em;
    margin-left: 1em;
  }

  .navbar-default .navbar-nav>li>a:hover{
    color: #1ABC9C;
  }



}
/* comuni */
/*

.xs-hidden{
  display: none;
}

nav{
  height: 75px;
  background-image: none;
  background-color: #2C3E50;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
}

nav a{
  color: #fff;

}

nav .logo a{
  font-size: 1.45em;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  line-height: 75px;
}

nav ul{
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  vertical-align: middle;
  line-height: 75px;
}



nav ul li a:hover{
  color: #1ABC9C;
  text-decoration: none;
}

nav ul li a:focus{
  padding: 1em;
  background-color: #1ABC9C;
  color:  #fff;
  text-decoration: none;
  border-radius: 5px;
}

nav ul li.my-btn a{
  font-size: 0.9em;
  padding: 1.1em;
  background-color: #1ABC9C;
  color:  #fff;
  text-decoration: none;
  border-radius: 7.5px;
}

.glyphicon-menu-hamburger{
  font-size: 0.89em;
}

nav ul li.my-btn a:focus{
  padding: 1em;
  background-color: #148F77;
  color:  #fff;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #fff;
}


@media all and  (min-width: 1200px){
  nav{
    height: 100px;
  }

  nav .logo a{
    font-size: 2em;
    line-height: 100px;
  }

  nav li {
    display: inline-block;
    font-size: 1.2em;
    margin-left: 2em;
    line-height: 100px;
  }

  nav li a:focus{
    padding: 1em;
    background-color: #1ABC9C;
    color:  #fff;
    text-decoration: none;
    border-radius: 10px;
  }

} */
